<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>gachaboi-001-site1.htempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://gachaboi-001-site1.htempurl.com:8172/MsDeploy.axd?site=gachaboi-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>gachaboi-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>gachaboi-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FinalCapstoneEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5104.site4now.net;Initial Catalog=db_a74824_capstone2;User ID=db_a74824_capstone2_admin;Password=gachaboi619" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FinalCapstone.FinalCapstoneEntities, FinalCapstone" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Capstone" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5104.site4now.net;Initial Catalog=db_a74824_capstone2;User ID=db_a74824_capstone2_admin;Password=gachaboi619" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5104.site4now.net;Initial Catalog=db_a74824_capstone2;User ID=db_a74824_capstone2_admin;Password=gachaboi619" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Capstone_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="initial catalog=Capstone2;Data Source=SQL5104.site4now.net;Initial Catalog=db_a74824_capstone2;User Id=db_a74824_capstone2_admin;Password=gachaboi619;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Capstone-Web.config Connection String">
      <ParameterValue>Data Source=SQL5104.site4now.net;Initial Catalog=db_a74824_capstone2;User ID=db_a74824_capstone2_admin;Password=gachaboi619</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FinalCapstoneEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/FinalCapstone.csdl|res://*/FinalCapstone.ssdl|res://*/FinalCapstone.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5104.site4now.net;Initial Catalog=db_a74824_capstone2;User ID=db_a74824_capstone2_admin;Password=gachaboi619"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>